nav {
  color: #000080;
  font-family: 'Overpass', sans-serif;
  font-size: 22px;
  /* font-weight: 500; */
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}
button {
  margin-right: 100px;
}
